.furniture {
    font-family: raleway thin, sans-serif;
    color: #333;
}

.name {
    font-family: melbourne, sans-serif;
    font-weight: 100;
}

.beauty {
    font-size: 60px;
    color: #cf7600;
    font-family: raleway thin, sans-serif;
    font-weight: 100;
}

hr {
    width: 100%;
    height: 2px;
}

#gallery {
    width: 720px;
    float: right;
}

.btn{
    color: #cf7600;;
    border-color: #cf7600;
}

.accordion-panel {
    font-size: 19px;
    color: #333;
}

.active {
    color: #cf7600;
    font-size: 30px;
}





